<header class="page-header">Profile</header>

<div *ngIf="profile" class="panel">
    <div class="flex align-items-center mb-3">
        <img
            [src]="getImageLink() | profileImage | async"
            alt=""
            [width]="120"
            [height]="120"
            style="object-fit: cover; border-radius: 5%"
        />

        <input
            style="display: none"
            type="file"
            (change)="saveImage($event)"
            accept="image/*"
            #fileInput
        />
        <button
            pButton
            label="Select Image"
            (click)="fileInput.click()"
            class="ml-3"
            [loading]="uploading"
        ></button>
    </div>

    <hr />

    <form [formGroup]="frm" novalidate>
        <div class="formgrid grid mt-4">
            <div class="field col-12 md:col-6">
                <label for="firstName">First Name</label>
                <input
                    id="firstName"
                    formControlName="firstName"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="50"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="firstName"
                ></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="lastName">Last Name</label>
                <input
                    id="lastName"
                    formControlName="lastName"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="50"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="lastName"
                ></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="school">School</label>
                <input
                    id="school"
                    formControlName="school"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="100"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="school"
                ></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="subject">Subject</label>
                <input
                    id="subject"
                    formControlName="subject"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="100"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="subject"
                ></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="city">City</label>
                <input
                    id="city"
                    formControlName="city"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="50"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="city"
                ></app-validation-message>
            </div>
            <div class="field col-12 md:col-6">
                <label for="state">State</label>
                <input
                    id="state"
                    formControlName="state"
                    type="text"
                    pInputText
                    trim="blur"
                    maxlength="50"
                    class="inputfield w-full"
                />
                <app-validation-message
                    refControlName="state"
                ></app-validation-message>
            </div>
        </div>
    </form>

    <footer>
        <button pButton type="button" label="Save" (click)="save()"></button>
        <button
            pButton
            type="button"
            label="Cancel"
            class="ml-2"
            (click)="cancel()"
        ></button>
    </footer>
</div>

<app-block-ui [blocked]="processing"></app-block-ui>
